html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
}

footer {
    height: 4%;
}

div { 
    .body {
        height: 100%;
        width: 100%;
        background: url("/backgrounds/bpyreefmrhyz.png");
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
    }
}