nav {
    display: flex;
    font-size: 2em;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    align-items: center;
    margin-bottom: 50px;
    word-spacing: 0.25em;
    justify-content: center;
    color: black;
    a {
        text-decoration: none;
        color: inherit;
    }
}

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
}

footer {
    height: 4%;
}

div { 
    .body {
        height: 100%;
        width: 100%;
        background: url("/backgrounds/bpyreefmrhyz.png");
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
    }
    .inputBox {
        border-style: double;
        background-color: black;
        color: white;
        height: 50px;
        width: 90%;
        font-size: 1.75em;
        margin-right: auto;
        margin-left: auto;
    }
    .inputText {
        width: 7%;
        height: inherit;
        float: left;
        font-size: inherit;
        display: flex;
        align-items: center;
        padding-left: 5px;
    }
    input[type=text] {
        background-color: black;
        width: 86%;
        height: 45px;
        color: white;
        font-size: inherit;
        float: left;
    }
    button[type=submit] {
            background-color: red;
            width: 6.4%;
            float: right;
            height: 50px;
            color: black;
            font-size: inherit;
            h1 {
                font-size: inherit;
                font-weight: lighter;
                margin-bottom: auto;
                margin-top: 0%;
            }
    }
}

form {
    .inputForm {
        display: flex;
        align-items: center;
        border-style: double;
        background-color: black;
        color: white;
        height: 50px;
        width: 90%;
        font-size: 1.75em;
        margin-right: auto;
        margin-left: auto;
    }
}